<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
</head>
<body style="text-align: center">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <h1>
                    <a class="nav-item nav-link" th:href="@{/person}">Пользователи</a>
                    &nbsp &nbsp &nbsp
                    <a class="nav-item nav-link" th:href="@{/book}">Книги</a>
                </h1>
            </div>
        </div>
    </nav>
</div>
<h2>
    <div
            th:each="book : ${books}">
        <a th:href="@{/book/{id}(id=${book.getBook_id()})}"
           th:text="${book.getName() + ',&nbsp '+ book.getAuthor() + ',&nbsp ' + book.getYear()+'г.'}">user</a>
    </div>
</h2>
<br>
<hr/>

<h1>
    <a href="/book/new">Добавить книгу</a>
</h1>
</body>
</html>