<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Person</title>
</head>
<body style="text-align: center">

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <h1>
                    <a class="nav-item nav-link" th:href="@{/person}">Пользователи</a>
                    &nbsp &nbsp &nbsp
                    <a class="nav-item nav-link" th:href="@{/book}">Книги</a>
                </h1>
            </div>
        </div>
    </nav>
</div>

<form th:method="POST" th:action="@{/person}" th:object="${person}">
    <br>
    <br>
    <h2>
        <label for="name">Введите ФИО</label>
        <input type="text" th:field="*{name}" id="name">
        <div style="color: darkorange" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <br><br>
        <label for="age">Введите год рождения</label>
        <input type="text" th:field="*{age}" id="age">
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    </h2>

    <br>
    <br>
        <input type="submit" value="Добавить!"/>
</form>


</body>
</html>